{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5 text-center"> Modification du mot de passe</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               {{ form_widget(form) }}

                <button type="submit" class="btn btn-info">
                    <i class="fas fa-check"></i>
                    Enregister les modifications
                </button>
            </div>
            <div class="col-md-3"></div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

