{% extends 'base.html.twig' %}

{% block title %}homePage{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron mt-3 border-dark" style="background-image:url('http://www.museedutextile81.com/Zc4DSYMxs/healthy-food-2.jpg');">
            <h1 class="display-3" style="color: black;text-shadow: 3px 3px 3px white;">Bienvenue sur NesRecettes</h1>
            <p class="lead" style="color: black;text-shadow: 3px 3px 3px white;">
                <strong>Une cuisine simple, conviviale et gourmande</strong>
            </p>
            <hr class="my-4">
            <p class="lead" style="color: black;text-shadow: 3px 3px 3px white;">
                <strong><em>Cuisinier(e)s ou Patissier(e)s ? Et vous voulez apprendre des nouvelles recettes où partager vos recettes ?
                Vous êtes les bienvenues.
                </em>
                </strong>
            </p>
            <p class="lead" style="color: black;">
                <a class="btn btn-info btn-lg" style="color: white;" href="{{ path('recipe_index') }}" role="button">Voir les recettes</a>
            </p>
        </div>

        <h2 class="my-5">Nos recettes stars</h2>

        <div class="row">
            {% for data in recipes %}
                {% include 'recipe/_recipe.html.twig' with {'recipe': data.recipe} %}
            {% endfor %}
        </div>

        <h2 class="h1 my-5">Nos participants stars !</h2>

        <div class="row">
            {% for data in users %}
                {% include 'user/_user.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
